
WebsiteCofffee/obj/Debug/WebsiteCofffee.csprojAssemblyReference.cache
.vs/WebsiteCofffee/v16/.suo
WebsiteCofffee/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
.vs/WebsiteCofffee/v16/.suo
*.cache
.vs/WebsiteCofffee/v16/.suo
WebsiteCofffee/obj/Debug/WebsiteCofffee.csprojAssemblyReference.cache
